*{
    padding: 0%;
    margin: 0;
}

.header{
    height: 200px;
    width: auto;
    background-color: #5BB9EE;
}

.logo{
    font-family: Roboto Slab;
    font-size: 40px;
    color: #ffffff;
    margin-left: 150px;
}

.header-row{
    display: flex;
    flex-direction: row;
}

.row1{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
}
.home-button{
    height: 50px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 40px;
}

.home-button-text{
    color: #000000;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 500;
    justify-content: center;
}

.logout-button{
    height: 50px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 40px;
    background-image: url(../img/logout.png);
    background-repeat: no-repeat;
    background-size: 50px;
}

.logout-button-text{
    color: #000000;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 500;
    justify-content: center;
    margin-left: 30px;
}

.login-button{
    height: 50px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 40px;
    background-image: url(../img/login.jpg);
    background-repeat: no-repeat;
    background-size: 50px;
}

.login-button-text{
    color: #000000;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 500;
    justify-content: center;
    margin-left:30px;
}

.register-button{
    height: 50px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 40px;
    background-image: url(../img/register.png);
    background-repeat: no-repeat;
    background-size: 50px;
}

.register-button-text{
    color: #000000;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 500;
    justify-content: center;
    margin-left: 30px;
}

.info-page{
    height: 1200px;
    width: auto;
    background-image: url(../img/sea.jpg);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
}

.row2{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    padding-top: 100px;
}

.tabel1{
    height: 1000px;
    width: 600px;
    border-radius: 20px;
    background-color: #FFBD44;
}

.tabel1-header-text{
    color: #000000;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 50px;
    font-weight: 500;
}

.mini-info-text1{
    color: #000000;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
}

.mini-info-text2{
    color: #000000;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
}

.mini-info-text3{
    color: #000000;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
}

.mini-info-text4{
    color: #000000;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
}

.input-stroke{
    height: 70px;
    width: 550px;
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
}

.search-vacations-button{
    height: 100px;
    width: 550px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 20px;
}

.search-vacations-button-text{
    color: #000000;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.column1{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    gap: 50px;
}
.last-minute-deal-text{
    color: #000000;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 500;
}

.tabel2{
    height: 100px;
    width: 300px;
    background-color:#FFBD44 ;
    border-radius: 20px;
}

.mini-info-text5{
    color: #000000;
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 800;
    margin-left: 20px;
    margin-top: 40px;
}

.footer{
    height: 200px;
    width: auto;
    background-color: #5BB9EE;
}

.footer-row{
    display: flex;
    flex-direction: row;
}

.row3{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.footer-text1{
    color: #ffffff;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 500;
}

.img1{
    background-image: url(../img/Facebook.png);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    background-size: 50px;
}